.forgotPassword {
  display: flex;
  margin: 11px auto 0;
  text-align: center;
  font-family: var(--font-exo2);
  font-weight: 600;
  line-height: 36px;
  color: #bcbff1;
}

@media screen and (max-width: 600px) {
  .forgotPassword {
    margin-top: 10px;
    line-height: 16px;
  }
}
