.favoriteCase {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px 25px 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #2e2b6e 0%, #c1356a 100%);
  box-sizing: border-box;

  &:hover {
    .caseImage img {
      transform: scale(1.2);
    }
  }

  & > p {
    &:nth-of-type(1) {
      font-size: 20px;
      font-weight: 700;
    }

    &:nth-of-type(2) {
      margin-top: 10px;
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  & > a {
    margin-top: auto;

    button {
      position: relative;
      align-self: flex-start;
      padding: 14.5px 19.08px 15.5px 18.92px;
      font-family: var(--font-exo);
      font-size: 16px;
      font-weight: 900;
      z-index: 1;
    }
  }

  .caseImage {
    position: absolute;
    right: -60px;
    bottom: -20px;

    img {
      transition: 0.3s ease-out;
    }
  }

  .caseBg {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 1400px) {
  .favoriteCase {
    padding: 20px 15px 15px;
  }
}

@media screen and (max-width: 1260px) {
  .favoriteCase {
    & > a {
      button {
        max-width: 138px;
        width: 100%;
        padding: 12px 0 11px;
        border-radius: 11px;
      }
    }
  }
}
