.passwordResetSuccess {
  display: flex;
  flex-direction: column;
  margin-top: 58px;

  p {
    font-family: var(--font-exo2);
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }
}

.btn {
  margin-top: 42px;
}

.passwordResetSuccess {
  display: flex;
  flex-direction: column;
  margin-top: 58px;

  p {
    font-family: var(--font-exo2);
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }
}

.btn {
  margin-top: 42px;
}

@media screen and (max-width: 600px) {
  .passwordResetSuccess {
    p {
      font-size: 16px;
    }
  }
}
