.userHistory {
  border-radius: 20px;
  background: #1b205a;
}

.tabPanel {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.tabBtnsList {
  display: flex;
  gap: 20px;
}

.tabBtn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12.5px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-image: none;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: inherit;
    background: linear-gradient(0deg, #362f69 0%, #9e6171 100%);
    opacity: 0;
    z-index: -1;
    transition: var(--transition);
  }

  &Active {
    &::after {
      opacity: 1;
    }

    .tabActiveIcon {
      opacity: 1;
    }
  }
}

.tabActiveIcon {
  position: absolute;
  top: 12.5px;
  left: 10px;
  opacity: 0;
  transition: var(--transition);
}

.tabContent {
  padding: 30px 35px 35px;
}
