.latestOpenCases {
  position: relative;
  display: flex;
  gap: 7px;
}

.latestOpenCasesFilter {
  margin-top: 1px;
}

.btn {
  position: absolute;
  left: 100px;
  padding: 5px;
  z-index: 10;
  background: #000;
}
