.latestOpenCases {
  position: relative;
  display: flex;
  gap: 7px;
}

.latestOpenCasesFilter {
  margin-top: 1px;
}

@media screen and (max-width: 1250px) {
  .latestOpenCases {
    gap: 2px;
  }
}
