.caseOpenActions {
  display: flex;
  align-items: center;
  gap: 35px;
}

.quantitySelectorList {
  display: flex;
  gap: 6px;
  padding: 12px 15px;
  border-radius: 10px;
  background: #1a1e5c;
}

.quantityBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 34px;
  border-radius: 10px;
  background: #5760f0;
  font-size: 14px;
  font-weight: 900;
  transition: var(--transition);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: inherit;
    background: linear-gradient(0deg, #8e38cb 0%, #e48084 100%);
    opacity: 0;
    z-index: -1;
    transition: var(--transition);
  }

  &Active {
    &::before {
      opacity: 1;
    }
  }
}

.openBtn {
  display: flex;
  gap: 5px;
  min-width: 223px;
  height: 60px;
  padding: 0 20px;
  font-size: 19px;
  font-weight: 700;
  box-sizing: border-box;
}

.quickOpenBtn {
  display: flex;
  gap: 10px;
  padding: 18px 24px;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
  transition: var(--transition);

  &.active {
    opacity: 1;
  }
}

@media screen and (max-width: 830px) {
  .caseOpenActions {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .caseOpenActions {
    gap: 0;
  }

  .openBtn {
    margin-top: 20px;
  }

  .quickOpenBtn {
    margin-top: 10px;
  }

  .openBtn,
  .quickOpenBtn {
    max-width: 100%;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
  }
}
