.bonusWheel {
  margin-top: 205px;
  padding-bottom: 85px;
}

.headerBg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2115px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 294px;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(9, 13, 49, 0) 0%,
      rgba(9, 13, 49, 0.83) 50.5%,
      #090d31 100%
    );
  }
}

.topActions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 90px;
  padding-left: 35px;
  padding-right: 62px;
  box-sizing: border-box;
  z-index: 10;
}

.content {
  position: relative;
  max-width: 1480px;
  width: 100%;
  margin: 85px auto 0;
  z-index: 10;
}

.superBonus {
  margin-top: 20px;
}

.superBonusHeading {
  h2 {
    font-family: var(--font-exo2);
    font-size: 37px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #90c0ff;

    span {
      font-weight: 900;
      color: #e37583;
      text-transform: uppercase;
    }
  }
}

.superBonusWord {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.bonusDescription {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #90c0ff;
}

.bonusesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 276px);
  grid-template-rows: repeat(auto-fit, minmax(271px, auto));
  gap: 20px 25px;
  margin-top: 80px;
}
