.upgradesFaq {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .upgradesFaq {
    gap: 10px;

    & > div {
      & > div {
        &:nth-of-type(1) {
          height: auto;
          padding: 15px;

          p {
            font-size: 14px;
          }
        }

        &:nth-of-type(2) {
          & > div {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
