.prizeWinning {
  display: flex;
  gap: 18px;
  padding: 15px 13px;
  border-radius: 20px;
  border: 1px solid #3a42bc;
  background: #161b50;
}

.left {
  p {
    font-family: var(--font-exo2);
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;

    &:nth-of-type(2) {
      margin-top: 10px;
      font-size: 25px;
      font-weight: 800;
    }
  }
}

.prize {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 23px;
  border-radius: 20px;
  background: linear-gradient(180deg, #e171e3 0%, #8332ed 100%);

  & > span {
    font-family: var(--font-exo2);
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
  }

  p {
    font-family: var(--font-exo2);
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
  }
}
