.mobileNav {
  position: fixed;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: 88px;
  padding: 0 26px;
  box-sizing: border-box;
  background: rgba(9, 13, 49, 0.83);
  backdrop-filter: blur(2px);
  z-index: 100;

  li {
    a,
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      span {
        font-family: var(--font-exo2);
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: #c2c3d0;
      }
    }
  }
}

.navPopup {
  position: fixed;
  display: none;
  bottom: 98px;
  margin-right: 66px;
}

@media screen and (max-width: 1250px) {
  .mobileNav {
    display: flex;
  }

  .navPopup {
    display: block;
  }
}
