.upgradesHistoryList {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 447px));
  gap: 25px 19px;
  width: 100%;
  padding: 30px 35px 35px;
  box-sizing: border-box;
}

@media screen and (max-width: 1250px) {
  .upgradesHistoryList {
    gap: 15px;
    padding: 0px 20px 20px;
  }
}

@media screen and (max-width: 960px) {
  .upgradesHistoryList {
    grid-template-columns: repeat(2, minmax(250px, 447px));
  }
}

@media screen and (max-width: 700px) {
  .upgradesHistoryList {
    margin-top: 30px;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .upgradesHistoryList {
    grid-template-columns: 1fr;
  }
}
