.inventoryLootList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 205px);
  gap: 40px 30px;
  width: 100%;
  padding: 30px 35px 35px;
  box-sizing: border-box;
}

.inventoryLootItem {
  position: relative;
  width: 100%;
  height: 100%;

  &.withActions {
    &:hover .actions {
      visibility: visible;
      opacity: 1;
    }
  }
}

.lootItem {
  padding: 13px 12px 23px;

  p {
    &:nth-of-type(1) {
      margin-top: 15px;
      font-size: 16px;
    }

    &:nth-of-type(2) {
      padding-top: 6px;
    }
  }
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 32, 90, 0.56);
  border-radius: 18px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  box-sizing: border-box;
}
