.wrapper {
  max-width: 1450px;
  width: 100%;
  margin: 85px auto 0;
  padding: 0 20px;
}

.userInfoPanel {
  display: flex;
  align-items: center;
  height: 277px;
  padding: 35px;
  border-radius: 20px;
  background: #1b205a;
  box-sizing: border-box;
}

.userHistory {
  margin-top: 15px;
  border-radius: 20px;
  background: #1b205a;
}

.userHistoryTopPanel {
  padding: 35px;
}

.bestDrop,
.favoriteCase {
  margin-left: 25px;
  width: 295px;
  height: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 1490px) {
  .wrapper {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1400px) {
  .bestDrop,
  .favoriteCase {
    max-width: 225px;
    width: 100%;
    flex-shrink: 1;
  }
}

@media screen and (max-width: 1260px) {
  .wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .userInfoPanel {
    padding: 25px 15px;
    height: 229px;
  }
}

@media screen and (max-width: 1024px) {
  .userHistoryTopPanel {
    padding: 20px 20px 17.5px;
  }

  .userInfoPanel {
    height: 208px;
  }
}

@media screen and (max-width: 950px) {
  .bestDrop,
  .favoriteCase {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .userHistoryTopPanel {
    padding: 0;
  }

  .userHistory {
    background: none;
  }

  .wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .userInfoPanel {
    height: auto;
    padding: 20px 10px 20px 15px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin-top: 20px;
  }
}
