.listItem {
  position: relative;
  cursor: pointer;
}

.lootItem {
  padding: 13px 12px 23px;

  & > div:last-of-type {
    height: 75px;
  }

  p {
    font-size: 16px;
    padding-top: 5px;
  }
}

.itemSelectedContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(45, 50, 125, 0.65);
  border: 2px solid #fff;
  border-radius: 18px;
  backdrop-filter: blur(1.5px);
  box-sizing: border-box;
  transition: var(--transition);

  &.selected {
    opacity: 1;
    visibility: visible;
  }
}
