.noDataPanel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 144px;
  padding-left: 54px;
  padding-right: 30px;
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(0deg, rgba(24, 27, 87, 0.3) 0%, rgba(137, 86, 111, 0.6) 100%);
  box-sizing: border-box;
}

.info {
  margin-left: 27px;
  font-family: var(--font-exo2);
}

.title {
  font-size: 22px;
  font-weight: 900;
  line-height: 29px;
  text-transform: uppercase;
}

.text {
  font-weight: 600;
  color: #b0b3e2;
  line-height: 21px;
}

.action {
  margin-left: auto;

  button {
    min-width: 291px;
    padding: 15.5px;
  }
}

@media screen and (max-width: 800px) {
  .noDataPanel {
    padding: 0 17.5px;
  }
}

@media screen and (max-width: 700px) {
  .noDataPanel {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 25px 15px 30px;
  }

  .action {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;

    a {
      max-width: 325px;
      width: 100%;
    }

    button {
      display: flex;
      width: 100%;
      min-width: auto;
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 400px) {
  .noDataPanel {
    justify-content: flex-start;
  }

  .title {
    font-size: 20px;
    font-weight: 800;
  }

  .info {
    margin-left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .noDataPanel {
    flex-direction: column;
  }

  .title,
  .text {
    text-align: center;
  }

  .info {
    margin-left: 0;
    margin-top: 10px;
  }
}
