.userAuthorizedMainInfo {
  display: flex;
  height: 277px;
  padding: 35px;
  border-radius: 20px;
  background: #1b205a;
  box-sizing: border-box;
}

.avatarUploadBtn {
  margin-top: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 38px;
}

.topLine {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  width: 100%;
}

.userName {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;

  &Container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &ChangeBtn {
    padding: 9px 13px;
    border-radius: 5px;
    background: #151951;
    font-size: 13px;
    font-weight: 900;
    color: #7c7e9d;
    text-transform: uppercase;
  }
}

.balance {
  margin-top: 18px;
}

.bestDrop,
.favoriteCase {
  margin-left: 25px;
  width: 295px;
  flex-shrink: 0;
}
