.switch {
  position: relative;
  display: flex;
  width: 49px;
  height: 31.5px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + span {
      background: rgba(73, 56, 107, 1);

      &::before {
        left: 24.5px;
      }
    }
  }

  // slider
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 87.5px;
    background: rgba(73, 56, 107, 0.5);
    transition: var(--transition);
    cursor: pointer;

    // circle
    &::before {
      position: absolute;
      left: 7px;
      top: 7px;
      content: '';
      width: 17.5px;
      height: 17.5px;
      border-radius: 50%;
      background: linear-gradient(180deg, #f18d74 0%, #cb4b9e 100%);
      transition: var(--transition);
    }
  }
}
