.casePage {
  position: relative;
  width: 100%;
}

.wrapper {
  max-width: 1486px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 20px 85px;
}

.title {
  text-align: center;

  h1 {
    font-family: var(--font-exo2);
    font-size: 37px;
    font-weight: 900;
    line-height: 37px;
  }

  p {
    margin-top: 10px;
    font-weight: 600;
    color: #a7acee;
  }
}

.caseOpen {
  width: 100%;
  margin-top: 30px;
}

.caseLoot {
  margin-top: 75px;
  width: 100%;

  h2 {
    text-align: center;
    font-family: var(--font-exo2);
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.caseLootList {
  margin-top: 54px;
}

.caseRoulette {
  margin-top: 80px;
  padding-bottom: 33px;
}

.caseReopenAcitons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 1526px) {
  .wrapper {
    box-sizing: border-box;
  }

  .caseRoulette {
    height: 312px;
  }
}

@media screen and (max-width: 1440px) {
  .caseOpen {
    position: relative;
  }

  .caseRoulette {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 312px;
      z-index: 10;
    }

    &::before {
      left: -20px;
      background: linear-gradient(270deg, rgba(35, 93, 190, 0) 0%, #090d31 100%);
    }

    &::after {
      right: -20px;
      transform: rotate(180deg);
      background: linear-gradient(270deg, rgba(35, 93, 190, 0) 0%, #090d31 100%);
    }
  }
}

@media screen and (max-width: 1024px) {
  .caseLoot {
    margin-top: 60px;
  }

  .caseLootList {
    margin-top: 40px;
  }

  .wrapper {
    padding-top: 53px;
  }

  .caseReopenAcitons {
    margin-top: 31px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding-top: 115px;
  }

  .title {
    h1 {
      font-size: 24px;
    }
  }
  .caseReopenAcitons {
    margin-top: 30px;
  }

  .caseRoulette {
    height: 170px;
  }

  .caseRoulette {
    &::before,
    &::after {
      width: 50px;
      height: 170px;
    }
  }
}
