.casePage {
  position: relative;
  width: 100%;
}

.wrapper {
  max-width: 1486px;
  width: 100%;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 85px;
}

.topActions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 52px;
  padding-left: 35px;
  padding-right: 62px;
  box-sizing: border-box;
}

.soundBtn {
  display: flex;
}

.title {
  text-align: center;

  h1 {
    font-family: var(--font-exo2);
    font-size: 37px;
    font-weight: 900;
    line-height: 37px;
  }

  p {
    margin-top: 10px;
    font-weight: 600;
    color: #a7acee;
  }
}

.caseOpen {
  width: 100%;
  margin-top: 30px;
}

.caseLoot {
  margin-top: 75px;
  width: 100%;

  h2 {
    text-align: center;
    font-family: var(--font-exo2);
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.caseLootList {
  margin-top: 54px;
}
